body {

	background-color: powderblue;
}

h1 {
	text-align: center;
	color: purple;
	font-family: Comic Sans MS;
}

#p2 {
	text-align: right;
}

#a1 {
	display: none;
}
#a2 {
	display: none;
	text-align: right;
}

#Aimg {
	display: none;
}

